@inject ICategoryService CategoryService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GCommerce</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach (var category in _categories)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@category.Url">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @category.Name
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<Category> _categories = new List<Category>();

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await CategoryService.GetCategories();
        if (!response.Success)
        {
            Console.WriteLine(response.Message);
        }
        else
        {
            Console.WriteLine(response.Data);
            _categories = response.Data ?? new List<Category>();
        }
    }

}