@inject IProductService ProductService


<ul class="list-unstyled row row-cols-4 g-2">
    @foreach (var product in Products)
    {
        <li class="card my-3 col">
            <div class="card-img-top mr-2">
                <a href="/product/@product.Id">
                    <img class="card-img" src="@product.ImageUrl" alt="@product.Name"/>
                </a>
            </div>
            <div class="card-body">
                <a href="#">
                    <h4 class="mb-0">@product.Name </h4>
                </a>
                <p>@product.Description</p>
                <h5 class="price">$@product.Price</h5>
            </div>
        </li>
    }
</ul>


@code {

    [Parameter]
    public List<Product> Products { get; set; } = new List<Product>();
    
}